#root {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.btn {
  background-color: #007bff; /* Button color */
  color: white; /* Text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn:hover {
  transform: translateY(-3px); /* Move up on hover */
}

.btn:active {
  transform: translateY(1px); /* Move down slightly on click */
  /* background-color: #0056b3;  */
  opacity: 0.8;
}
